@import "bootstrap";
@import "font-awesome";

.alert:empty {
  display: none;
}

body{
    display: flex;
    // align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex-grow: 1;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar,
.notice {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.form-signin {
  width: 400px;
  padding: 30px;
}






// .alert {
//   transition-property: display;
//   transition-duration: 0s;
//   transition-delay: 5s;
//   display: none;
// }
