<!-- footer -->

<footer class="footer">
  <div class="container justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <p>&copy; 2017 Sports Coach Matching</p>
      </li>
    </ul>
  </div>
</footer>
